<div class="vh-100 d-flex flex-column justify-content-center align-items-center gap-1">
    <div class="login-container d-flex justify-content-center align-self-center align-items-center m-auto">
        <form action="" class=" shadow rounded-2 d-flex flex-column gap-3 px-5 py-5 login-form bg-light-grey" method="post" #f="ngForm">
            <h4 class="login-title pb-3 fw-light">Veuillez changer le mot de passe <br> pour pouvoir continuer:</h4>
            <div class="form-floating w-100">
                <input type="password" autocomplete="off" class="form-control form-control-lg fw-light rounded-2 shadow border"  name="password" id="password" placeholder="E-mail" [(ngModel)]="form.password" #username="ngModel">
                <label for="password" class="fw-light ">Saisissez un nouveau mot de passe</label>
            </div>
            <!--<button type="button" (click)="this.router.navigate(['/clients'])" class="btn action-btn align-self-center px-4 mt-4 fs-5">Valider</button>-->
            <button type="submit" (click)="changePassword()" class="btn action-btn align-self-center px-4 mt-4 fs-5">Valider</button>
            <button type="submit" (click)="cancel()" class="btn btn-danger align-self-center px-4 mt-4 fs-5">Annuler</button>
        </form>
    </div>

</div>