<div class="d-flex flex-column justify-content-center">

    <h2 class="client-form-title text-center mt-5 ">Ouverture d'un compte de paiement</h2>
    <div class="create-client-container shadow rounded-2 mx-sm-5 mx-1 mt-5 py-2 bg-light-grey">
        <form action="" method="post" #f="ngForm" class="create-client-form d-flex flex-column mt-3 justify-content-center px-5 py-3">
            <div class="form-inputs d-flex flex-column  gap-4">
                <h4 class="form-input-title fw-normal ">Choisir le type de compte : </h4>
                <div ngbDropdown class="align-self-center">
                    <button type="button" class="btn action-btn dropdown px-3 m-auto" id="dropdownBasic1" ngbDropdownToggle>
                        {{selectedType.id===0 ?'Choisir un type':'Type '+selectedType.id+' : Plafond '+selectedType.plafond+'DH' }}
                    </button>
                    <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1">
                        <button type="button" (click)="setType(1)" ngbDropdownItem>Type 1 : Plafond 2000 DH</button>
                        <button type="button" (click)="setType(2)" ngbDropdownItem>Type 2 : Plafond 10 000DH</button>
                        <button type="button" (click)="setType(3)" ngbDropdownItem>Type 3 : Plafond 100 000DH</button>
                    </div>
                </div>
                <!--<select class="form-select rounded-0 fs-5 fw-light" aria-label="Select Type" required>
                    <option selected>Choisir Type :</option>
                    <option value="1">Type 1</option>
                    <option value="2">Type 2</option>
                    <option value="3">Type 3</option>
                </select>-->
                <hr>
                <h4 class="fw-normal">Informations personnelles : </h4>
                <div class="personal-info container">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="form-floating mb-3 col ">
                            <input type="text" name="lname" [(ngModel)]="registerBody.lname" class="form-control form-control-lg fw-light ps-3 rounded-2 shadow border"  name="lname" id="lname" placeholder="Nom">
                            <label for="lname" class="fw-light ms-3">Nom :</label>
                        </div>
                        <div class="form-floating mb-3 col ">
                            <input type="text" name="fname" [(ngModel)]="registerBody.fname" class="form-control form-control-lg fw-light ps-3 rounded-2 shadow border"  name="fname" id="fname" placeholder="Prénom">
                            <label for="fname" class="fw-light ms-3">Prénom :</label>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="form-floating mb-3 col ">
                            <input type="text" name="email" [(ngModel)]="registerBody.email" class="form-control form-control-lg fw-light ps-3 rounded-2 shadow border"  name="email" id="email" placeholder="E-mail">
                            <label for="email" class="fw-light ms-3">E-mail :</label>
                        </div>
                        <div class="form-floating mb-3 col">
                            <input type="text" name="tel" pattern="^0\d{7}$" required  [(ngModel)]="registerBody.tel" class="form-control form-control-lg fw-light ps-3 rounded-2 shadow border"  name="tel" id="tel" placeholder="Téléphone">
                            <label for="tel" class="fw-light ms-3">Téléphone (0XXXXXXXXX):</label>
                        </div>
                    </div>
                      
                </div>
                <hr>
                <h4 class="form-input-title fw-normal ">Solde : </h4>
                <div class="form-floating mb-3 col align-self-center versement">
                    <input type="number" [min]="200" [(ngModel)]="registerBody.solde" class="form-control form-control-lg fw-light ps-3 rounded-2 shadow border"  name="solde" id="solde" placeholder="Solde en DH">
                    <label for="solde" class="fw-light ms-3">Solde en DH :</label>
                    
                </div>
                
            </div>
            <button type="button" (click)="this.submitRegister()" class="btn action-btn rounded-2 align-self-center mt-4 px-5 fs-5">Valider</button>
            <button type="button" (click)="this.navigate.back()" class="btn btn-outline-secondary rounded-2 align-self-center mt-2 px-4 fs-5">Annuler</button>
        </form>
    </div>
</div>