<div class="clients-list-container mt-4 mx-3 d-flex flex-column gap-4 py-4 align-items-center justfiy-content-center">
    <div class="d-flex gap-5 align-items-center">
        <h2 >Liste des clients</h2>
        <a routerLink="" class="btn btn-outline-danger">Deconnecte</a>
    </div>
    <div class="table-container bg-light-grey p-2 shadow rounded-2 mt-4">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Type de compte</th>
                    <th>E-mail</th>
                    <th>Statut</th>
                    <th>Téléphone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="client-row" *ngFor="let client of clients;let i=index">
                    <td class=" fw-bold">{{i+1}}</td>
                    <td>{{client.fname}} {{client.lname}}</td>
                    <td>{{client.accountType}}</td>
                    <td>{{client.email}}</td>
                    <td>
                        <div [ngClass]="{
                            'text-danger':client.status==='not-verified',
                            'text-success':client.status==='verified',
                            }"
                            class=" status fw-bold"
                        >
                            {{client.status | status}}
                        </div>
                    </td>
                    <td class="pt-3">{{client.telephone}}</td>
                    <td><button class="btn btn-danger text-center rounded-circle">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="table-footer d-flex w-100 px-5 justify-content-center">
        <a routerLink="/create-client" class="btn action-btn fw-bold px-4">Ajouter</a>
    </div>

</div>